# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# env
.env
.env*.local

# debug
npm-debug.log*
pnpm-debug.log*

# testing
playwright-report/
test-results/
coverage/

# misc
.DS_Store
*.pem
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
